<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>

    <style>
        .block {
            width: 350px;
            height: 200px;
        }
    </style>

    <div id="app">
        <input type="text" @keyup.enter="send"> <button @click="send">Отправить</button><br>
        <h2>Конструктор</h2>
        <input type="text" v-model="blockWidth">
        <input type="text" v-model="blockColor">
        <div class="block" :style="change">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quae!
        </div>
        <h2>{{ modelData }}</h2>
        <input type="text" v-model="modelData">
        <button @click="headingText" class="heading__button">click heading</button>

        <br>
        <h2>Calculator</h2>
        <input type="number" v-model.number="firstNum">
        <input type="number" v-model.number="secondNum">
        =
        {{ result }}
        <div>
            <button @click="plus">+</button>
            <button @click="minus">-</button>
            <button @click="mult">*</button>
            <button @click="div">/</button>
        </div>


        <h2>LIST</h2>
        <ul>
            <li v-for="item in listItems" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <input type="text" v-model="newList" @keyup.enter="addItem">
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                listItems: [
                    1, 2, 3, 4, 5
                ],
                newList: '',
                blockWidth: 100,
                blockColor: '#ccc',
                firstNum: 0,
                secondNum: 0,
                result: 0,
                modelData: '',
            },
            methods: {
                addItem(){
                    this.listItems.push(this.newList);
                    this.newList = '';
                },
                headingText() {
                    if (this.modelData === '') {
                        this.modelData = 'Heading'
                    } 
                },
                send() {
                    console.log('Данные отправили внутри инпут');
                },
                plus() {
                    this.result = this.firstNum + this.secondNum;
                },
                minus() {
                    this.result = this.firstNum - this.secondNum;
                },
                mult() {
                    this.result = this.firstNum * this.secondNum;
                },
                div() {
                    this.result = this.firstNum / this.secondNum;
                },
                
            },
            computed: {
                change() {
                    return {
                        backgroundColor: this.blockColor,
                        width: `${this.blockWidth}px`
                    }
                }
            }
        });
    </script>
</body>
</html>